# Python 3.7

gdown==3.6.4
google==2.0.3
ipykernel==4.10.1
ipython==5.5.0
jupyter==1.0.0
matplotlib==3.2.2
notebook==5.3.1
numpy==1.19.5
opencv-python==4.1.2.30
pandas==1.1.5
Pillow==7.1.2
pip-tools==6.2.0
pycocotools==2.0.2
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
sklearn-pandas==1.8.0
tensorboard==2.6.0
tensorflow==2.6.0
torch==1.9.0
torchvision==0.10.0
tornado==5.1.1
traitlets==5.1.0

textwrap3
ptflops
psutil
git+https://github.com/googlecolab/colabtools.git